<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To Do List</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span4">
        <h1>Authors</h1>
        <hr>
        <div class="well">

        <% @authors.each do |author| %>
          <li><a href="/authors/<%= author.id %>"><%= author.name %></a></li>
        <% end %>

        </div> <!-- end well class -->

        <!-- new author form -->
        <br>
        <h2>Add author</h2>
        <%= form_for :author, url: "/authors", method: "post" do |f| %>
          <p>
            <%= f.label :Name %><br>
            <%= f.text_field :name %><br><br>
            <%= f.label :Age %><br>
            <%= f.text_field :age %>
          </p>
          <p>
            <%= f.submit "Save Author" %>
          </p>
        <% end %>

      </div> <!-- end span4 -->
    </div> <!-- end row -->
  </div> <!-- end container -->
