<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To Do List</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span4">
        <h1>Things To Do</h1>
        <hr>
        <h4>You have so much to do!</h4>
        <div class="well">
          <!-- all todos listed here -->
          <%= form_tag('/todos/complete', :method => 'post') do %>
            <ul style='list-style-type:none;'>

              <% @todos.each do |todo| %>
                <% if todo.completed == true %>
                  <!-- If item is complete, show with strikethrough -->
                  <li style="color:grey;"><%= check_box_tag "todos_checkbox[]",todo.id %>     <strike><%= todo[:description] %></strike> | <%= link_to 'Edit', edit_todos_path(todo.id) %> | <%= link_to 'Delete', delete_todos_path(todo.id), :method => :delete %></li>
                <% else %>
                  <!-- If item isn't complete, display normally -->
                  <li><%= check_box_tag  "todos_checkbox[]",todo.id %>     <%= todo[:description] %><%= todo[:author] %> | <%= link_to 'Edit', edit_todos_path(todo.id) %> | <%= link_to 'Delete', delete_todos_path(todo.id) %></li>
                <% end %>
              <% end %>
              <br>
              <!-- button to mark as complete -->
              <%= submit_tag("Mark/Unmark Complete", :class=>"btn btn-success") %>
              <br><br>
              <!-- button to delete all completed items -->
              <% end %>
              <%= button_to "Delete Completed Items", @completed, method: :delete %>
            </ul>
        </div> <!-- end well class -->

        <!-- new todo item form -->
        <br><br>
        <h2>Thought of more stuff to do?</h2>
        <%= form_for :item do |f| %>
          <p>
            <%= f.label :Add_Item %><br>
            <%= f.text_field :description %>
          </p>
          <p>
            <%= f.submit %>
          </p>
        <% end %>

      </div> <!-- end span4 -->
    </div> <!-- end row -->
  </div> <!-- end container -->

</body>
</html>